# Ignore subfolder
gridstream/

# Ignore database and environment files
*.db
*.json
*.log
__pycache__/
*.pyc

# Explicitly track packages
!package.json
!package-lock.json

# Ignore node_modules
node_modules/
